/* src/styles/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url('/images/background.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lobster', cursive;
}
