/* src/styles/Projects.module.css */
.container {
    padding: 20px;
  }
  
  .content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
  }
  
  .projectItem {
    list-style: none;
    margin: 20px 0;
  }
  
  .projectItem p {
    font-size: 1.2em;
    margin-top: 10px;
  }
  